.me {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.canada {
  float: right;
  margin-right: 15px;
  width: 100px;
  height: 100px;
}

.t {
  position: relative;
  top: 2000px;
  left: 300px;
  width: 25%;
  height: 25%;
}
